<nav>
    <ul class="navigation-link">
        <li class="navigation-link__item"><a href="index.php?link=movies">Movies</a></li>
        <li class="navigation-link__item"><a href="index.php?link=genre">Genre</a></li>
        <li class="navigation-link__item"><a href="index.php?link=schedule">Schedule</a></li>
        <li class="navigation-link__item"><a href="index.php?link=insert_movie">Add Movie</a></li>
    </ul>
    <!-- <a href="index.php?link=movies">movies</a> | <a href="index.php?link=genre">genre</a> | <a href="index.php?link=schedule">schedule</a> -->
</nav>
<main>